apiVersion: apps/v1
kind: Deployment
metadata:
  name: java-deployment
  labels:
    env: local
spec:
  replicas: 4
  selector:
    matchLabels:
      app: java-deployment
  template:
    metadata:
      labels:
        app: java-deployment
    spec:
      containers:
      - name: my-app-mvn
        image: demo:maven